In [ ]:
import random

random, randint = random.random, random.randint
random(), randint(1, 10)

(0.33889909706084365, 2)

In [ ]:
float(input('Temperature in celsius: ')) * 9 / 5 + 32

Temperature in celsius: 2

35.6

In [ ]:
simple_interest = float(input('Enter principal: ')) * int(input('Enter rate: ')) * float(input('Enter time: ')) / 100
print(f"Simple interest is {simple_interest}")

Enter principal: 1
Enter rate: 2
Enter time: 3
Simple interest is 0.06

In [4]:
a = r'C:\user\Chima'
a

'C:\\user\\Chima'

In [8]:
# Using \ to prevent new line
'''\
Hi'''

'Hi'

In [10]:
2 * 'Ba' + ' God'

'BaBa God'

In [18]:
str = 'Python'
str[-1], str[1:], str[:4], str[-3:], str[10:], {'length': len(str)}

('n', 'ython', 'Pyth', 'hon', '', {'length': 6})

In [33]:
# LISTS
evens = [2, 4, 6, 8]
odds = [1, 3, 5, 7]

evens + odds

[2, 4, 6, 8, 1, 3, 5, 7]

In [34]:
evens.append(22)
evens

[2, 4, 6, 8, 22]

In [66]:
num = float(input('Enter any num: '))

if num > int(num):
  print('Double detected')
else:
  print('Integer detected')

Enter any num: 2.5
Double detected

In [67]:
nums = [7, 3, 8, 2, 9]

for n in nums:
  print(f"{n} is {'odd' if n % 2 else 'even'}")

7 is odd
3 is odd
8 is even
2 is even
9 is odd

In [83]:
for n in range(0, 10, 2):
  print(n, end=', ')

type(range(0, 10))

0, 2, 4, 6, 8,

range

In [134]:
# Find maximum
odd_nums = list(range(3, 10, 2))
max = odd_nums[0]

for i in range(1, len(odd_nums)):
  if odd_nums[i] > max:
    max = odd_nums[i]

max

9

In [105]:
fruits = ['Apple', 'Mango', 'Orange']

list(enumerate(fruits)) # Equivalent to Object.entries() in JavaScript

[(0, 'Apple'), (1, 'Mango'), (2, 'Orange')]

In [111]:
for i, fruit in list(enumerate(fruits)):
  print(f'{i} - {fruit}')

0 - Apple
1 - Mango
2 - Orange

In [115]:
list(zip([2, 4, 6, 8], fruits))

[(2, 'Apple'), (4, 'Mango'), (6, 'Orange')]

In [119]:
# LOOPS

In [144]:
# Tell which members of a list have factors greater than 10
import random

total_nums = 7
my_nums = [random.randint(15, 30) for x in range(0, total_nums)] # Generate random nums

print(my_nums)

for n in my_nums:
  if n / 2 <= 10:
    print(f'{n} has no factors greater than 10')
    continue
  for i in range(11, n // 2):
    if not (n % i):
      print(f'{n} HAS factors greater than 10')
      break
  else:
    print(f'{n} has no factors greater than 10')

[27, 16, 24, 16, 24, 24, 22]
16 has no factors greater than 10
16 has no factors greater than 10