In [7]:
float(input('Temperature in celsius: ')) * 9 / 5 + 32

95.0

In [ ]:
simple_interest = float(input('Enter principal: ')) * int(input('Enter rate: ')) * float(input('Enter time: ')) / 100
print(f"Simple interest is {simple_interest}")

Enter principal: 1
Enter rate: 2
Enter time: 3
Simple interest is 0.06

In [18]:
str = 'Python'
str[-1], str[1:], str[:4], str[-3:], str[10:], {'length': len(str)}

('n', 'ython', 'Pyth', 'hon', '', {'length': 6})

In [8]:
# LISTS
evens = [2, 4, 6, 8]
odds = [1, 3, 5, 7]

evens + odds

[2, 4, 6, 8, 1, 3, 5, 7]

In [9]:
evens.append(22)
evens

[2, 4, 6, 8, 22]

In [ ]:
num = float(input('Enter any num: '))

if num > int(num):
  print('Double detected')
else:
  print('Integer detected')

In [8]:
a = [2, 5, 3]
# a.append(4)
a.extend([7, 8, 9, 2])
a

[2, 5, 3, 7, 8, 9, 2]

In [10]:
a.remove(2)
a

[5, 3, 7, 8, 9]

In [13]:
a.clear()
a

[]

In [17]:
a = [2, 5, 3]
b = [6, 2, 8]

a + b

[2, 5, 3, 6, 2, 8]

In [19]:
a*2

[2, 5, 3, 2, 5, 3]

In [22]:
# THE MEMBERSHIP OPERATOR: is only used on iterables

a = [2, 5, 3]

5 in a, 12 not in a

(True, True)

In [41]:
mylist = [2, 5, 3, 6, 2, 8]

min_el, max_el = mylist[0], mylist[0]

for el in mylist:
    max_el = el if el > max_el else max_el
    min_el = el if el < min_el else min_el
    
min_el, max_el

(2, 8)

In [ ]:
mylist = [2, 5, 3, 5, 2]

is_palindrome = mylist[:] == mylist[::-1]
is_palindrome

In [ ]:
user_input = input('Enter some values: ').split(', ')
nums = map(int, user_input)

In [ ]:
user_input = input('Enter some values: ').split(', ')
sum(list(map(int, user_input)))
# Check no of occurrences of an element
user_input = list(map(int, input('Enter values: ').split(', ')))
user_input.count(int(input('Enter element: ')))

In [ ]:
user_input = list(map(int, input('Enter values: ').split(', ')))

is_sorted = user_input == sorted(user_input)
is_sorted

[2, 4, 5]

In [1]:
[2, 4, 3, 2].count(2)

2

In [10]:
# Assignment
# 1. Write a program to find common elements between two lists
a = [4, 8, 2, 9]
b = [9, 2, 6, 4, 8, 11]

common = list(filter(a.count, b))
common

[9, 2, 4, 8]

In [26]:
# 2. Write a program to remove duplicates from a list
b = [9, 2, 6, 4, 8, 11, 8, 14, 2, 9]

b = list(set(b))
b

[2, 4, 6, 8, 9, 11, 14]

In [46]:
# 3. Write a program to check if a list is empty
b = []
is_empty = not len(b)
is_empty

True