In [7]:
float(input('Temperature in celsius: ')) * 9 / 5 + 32

95.0

In [ ]:
simple_interest = float(input('Enter principal: ')) * int(input('Enter rate: ')) * float(input('Enter time: ')) / 100
print(f"Simple interest is {simple_interest}")

Enter principal: 1
Enter rate: 2
Enter time: 3
Simple interest is 0.06

In [18]:
str = 'Python'
str[-1], str[1:], str[:4], str[-3:], str[10:], {'length': len(str)}

('n', 'ython', 'Pyth', 'hon', '', {'length': 6})

In [8]:
# LISTS
evens = [2, 4, 6, 8]
odds = [1, 3, 5, 7]

evens + odds

[2, 4, 6, 8, 1, 3, 5, 7]

In [9]:
evens.append(22)
evens

[2, 4, 6, 8, 22]

In [ ]:
num = float(input('Enter any num: '))

if num > int(num):
  print('Double detected')
else:
  print('Integer detected')

In [2]:
a = [2, 5, 3]
# a.append(4)
a.extend([7, 8, 9, 2])
a

[2, 5, 3, 7, 8, 9, 2]

In [19]:
# a.reverse()
list(reversed(a))

{2, 3, 5, 7, 8, 9}

In [10]:
a.remove(2)
a

[5, 3, 7, 8, 9]

In [13]:
a.clear()
a

[]

In [17]:
a = [2, 5, 3]
b = [6, 2, 8]

a + b

[2, 5, 3, 6, 2, 8]

In [19]:
a*2

[2, 5, 3, 2, 5, 3]

In [22]:
# THE MEMBERSHIP OPERATOR: is only used on iterables

a = [2, 5, 3]

5 in a, 12 not in a

(True, True)

In [41]:
mylist = [2, 5, 3, 6, 2, 8]

min_el, max_el = mylist[0], mylist[0]

for el in mylist:
    max_el = el if el > max_el else max_el
    min_el = el if el < min_el else min_el
    
min_el, max_el

(2, 8)

In [ ]:
mylist = [2, 5, 3, 5, 2]

is_palindrome = mylist[:] == mylist[::-1]
is_palindrome

In [ ]:
user_input = input('Enter some values: ').split(', ')
nums = map(int, user_input)

In [ ]:
user_input = input('Enter some values: ').split(', ')
sum(list(map(int, user_input)))
# Check no of occurrences of an element
user_input = list(map(int, input('Enter values: ').split(', ')))
user_input.count(int(input('Enter element: ')))

In [ ]:
user_input = list(map(int, input('Enter values: ').split(', ')))

is_sorted = user_input == sorted(user_input)
is_sorted

[2, 4, 5]

In [1]:
[2, 4, 3, 2].count(2)

2

In [5]:
# Assignment
# 1. Write a program to find common elements between two lists
a = [4, 8, 2, 9]
b = [9, 2, 6, 4, 11]

# common = [x for x in a if x in b]
# common = list(filter(a.count, b))
common = [*filter(a.count, b)]
common

[9, 2, 4]

In [2]:
# 2. Write a program to remove duplicates from a list
b = [9, 2, 6, 4, 8, 11, 8, 14, 2, 9]

b = list(set(b))
b

[2, 4, 6, 8, 9, 11, 14]

In [25]:
# 3. Write a program to check if a list is empty
b = []
is_empty = bool(b)
is_empty

False

In [46]:
myl = [1, 7, 3, 3, 0]

any(myl), all(myl) # any() returns true if there's any truthy element, all() returns true if all are truthy

(True, False)

In [47]:
# Check if a list contains an even number
myl = [1, 7, 3, 3, 6]
any(n for n in myl if not n % 2)

True

In [59]:
# Gen a list of numbers divisible by both 3 and 5 between 1-20
[n for n in range(1, 21) if n % 3, n % 5 == 0, 0]

[15]

In [74]:
# Assignment:  Create a list of divisors of a number input
num = int(input('Enter a number: '))
divisors = [i for i in range(2, num//2 + 1) if not num % i]
divisors.append(num)
divisors

[2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]

In [90]:
# Flattening the list

nums = [[2, 3, 4], [5, 6], [1]]

[n for pair in nums for n in pair]

[2, 3, 4, 5, 6, 1]

In [93]:
# Remove duplicates from a list while preserving the order of elements; [1,2,3,4,2,5,3,6,8,6] -> [1,2,3,4,5,6,8]

# [*set([1,2,3,4,2,5,3,6,8,6])]
nums = [1,2,3,4,2,5,3,6,8,6]
new_list = []

for n in nums:
  if n not in new_list:
    new_list.append(n)

new_list

[1, 2, 3, 4, 5, 6, 8]

In [96]:
# Given a list of strings, convert each string to uppercase and return the resulting list.
strs = ['cat', 'dog', 'dove']

[word.upper() for word in strs]

['CAT', 'DOG', 'DOVE']

In [5]:
# Find common elements between two lists
a = [2, 3, 5, 6, 3]
b = [5, 7, 3, 9]
common = []
[common.append(n) for n in a if n in b and n not in common]
common

[3, 5]

In [3]:
# 1.Given a list of strings, remove all strings that have length less than 3 and return the resulting list
strs = ['cat', 'ca', 'do', 'dog', 'dove']
[s for s in strs if len(s) >= 3]

['cat', 'dog', 'dove']

In [16]:
# 2. Given a list of numbers, create a new list where each element
    # is the sum of the corresponding elements from two given lists - 
    # list1 = [1, 2, 3, 4, 5]
    # list2 = [6, 7, 8, 9, 10] - output - [7,9,11,13,15]
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

[a[i] + b[i] for i in range(len(a))]

# [sum([*pair]) for pair in [*zip(a, b)]]

[7, 9, 11, 13, 15]

In [55]:
# 3.take a number input from user and print if it's prime or note

num = int(input('Enter number: '))

is_prime = not [d for d in range(2, num // 2 + 1) if not num % d]
is_prime

Prime

In [2]:
# Count the number of even elements in a list
a = [6, 7, 8, 9, 10]
len([n for n in a if not n % 2])

3

In [4]:
# Find the mean/avg of a list of numbers
a = [8, 2, 3, 4, 5]
mean = sum(a) / len(a)
mean

[2, 3, 4]

In [10]:
# Find the sum of digits in a user-specified number
n = int((input('Number: ')))

sum_digits = 0

while n:
  sum_digits += n % 10
  n //= 10

sum_digits

10

In [15]:
n = int((input('Number: ')))

i, factorial = 1, 1

while i <= n:
  factorial *= i
  i += 1

factorial

24

In [ ]:
# Assignment

# 1. WAP to print reverse of a number
# 2. check if a given number is palindrome or not, n = 121, it is palindrome